.wrapper {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  margin: 50px 120px 50px 120px;
  font-family: "News Cycle", sans-serif;
  .leftArea {
    grid-area: 1/1/2/2;
    justify-self: left;
  }

  .rightArea {
    display: grid;
    grid-area: 1/2/2/3;
    justify-self: center;
    justify-items: center;
    .titles{
      font-weight: bold;
      font-size: 30px;
    }
    .descriptions{
      font-size: 25px;
    }
  }
}