*{
    padding: 0;
    margin: 0;
}
.userPage__wrapper{
    display: grid;
    grid-template: 428px /245px 1fr;
    margin: 109px 120px 72px 120px;
    /*border: 2px black solid;*/
}
.userPage__form{
    display: grid;
    grid-template: repeat(8, 40px) 150px/1fr 1fr;
    /*border: 2px black solid;*/
    grid-area: 1/2/2/3;
    justify-content: left;
    align-content: start;
    align-items: start;


}

.userPage__form input,label,textarea{
    /*border: 2px black solid;*/
    margin: 0;
    margin-left: 140px;
}
.userPage__form label{
align-self: end;
    font-size: 1.2rem;
}
.userPage__form input{
    width: 504px;

}
.userPage__form textarea{
    width: 504px;
    height: 107px;
}

.userPage__wrapper__avatar{
    display: grid;
    grid-template: 245px 40px/245px;
    margin-top: 60px;
    justify-items: center;
}
.userPage__img{
    border-radius: 50%;
    background: cadetblue;
    width: 150px;
    height: 150px;
}
.userPage__p{
    grid-area: 2/1/3/2;
    justify-self: center;
    align-self: start;
}
.label__userPage__surname{
grid-area: 1/1/2/2;
}

.userPage__surname{
grid-area: 2/1/3/2;
}

.label__userPage__name{
grid-area: 3/1/4/2;
}

.userPage__name{
grid-area: 4/1/5/2;
}

.label__userPage__patronymic{
grid-area: 5/1/6/2;
}

.userPage__patronymic{
grid-area: 6/1/7/2;
}

.label__userPage__birthday{
grid-area: 7/1/8/2;
}

.userPage__birthday{
grid-area: 8/1/9/2;
}

.label__userPage__email{
grid-area: 1/2/2/3;
}

.userPage__email{
grid-area: 2/2/3/3;
}

.label__userPage__phone{
grid-area: 3/2/4/3;
}

.userPage__phone{
grid-area: 4/2/5/3;
}

.label__userPage__comments{
grid-area: 5/2/6/3;
}

.userPage__comments{
grid-area: 6/2/8/3;
}

.userPage__btn{
    grid-area: 8/1/9/3;
    width: 150px;
    height: 30px;
    justify-self: center;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 140px;
    background: cadetblue;
   }





